@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular2.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'JennaSue';
    src: url('../fonts/JennaSue.woff');
    src: local('JennaSue'), local('JennaSue'), url('../fonts/JennaSue.woff') format('WOFF');
}
@font-face {
    font-family: 'youregone';
    src: url('../fonts/youregone.woff');
    src: local('youregone'), local('youregone'), url('../fonts/youregone.woff') format('woff');
}
@font-face {
    font-family: 'youregoneit';
    src: url('../fonts/youregoneit.woff');
    src: local('youregoneit'), local('youregoneit'), url('../fonts/youregoneit.woff') format('woff');
}
body {
    font-family: "Montserrat";
}

.login_bg {

    background-image: url(../images/mi-factory.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*     min-height: 100vh; */
}


.navbar-brand>img {
    display: inline-block;
}
.navbar-brand{
    padding: 0;
}
.login-page .login-box .logo {
    margin-bottom: 20px;
    font-family: "youregone";
    color: #fed032;
    text-shadow: 1px 1px 1px #000;
}


/* 
.home_page_view {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100vh;
    background-image: url(../images/mi-factory.jpg);
    display: block;
    background-position: center;
    background-size: cover;
}
.home_radial_gradiant {
    background: red;
    background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    background: -o-radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-angle-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, #fed032 20%, transparent 20%) repeat scroll 0 0;
}

.header-angle-bg2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(to left top, #fed032 20%, transparent 20%) repeat scroll 0 0;
}

.home_page_heading {
    background: linear-gradient(to left, #d78803, #fed032);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fed032;
    font-size: 90px;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
}

.home_btn {
    padding: 20px 45px;
    border-radius: 50px!important;
    font-size: 18px!important;
    margin-bottom: 8px;
    background: linear-gradient(to left, #d78803, #fed032);
    text-shadow: 1px 1px 1px #000;
    Standard syntax
}

.home_link {
    color: #fff;
}

.no-margin {
    margin: 0;
}





Form

.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 450px;
    margin: 0 auto 0;
    padding: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

.login-form .thumbnail {
    background: #fed032;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}

.login-form .thumbnail img {
    display: block;
    width: 100%;
}

.login-form input,
.login-form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form .btn-login {
    outline: 0;
    background: #fed032;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    display: inherit;
    text-decoration: none;
}

.login-form .btn-login:hover,
.login-form .btn-login:focus {
    background: transparent;
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
}

.login-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.login-form .message a {
    color: #808080;
    text-decoration: none;
}

.login-form .register-form {
    display: none;
    padding: 20px;
}

.login-widjet {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.login-widjet:before,
.login-widjet:after {
    content: "";
    display: block;
    clear: both;
}

.login-widjet .info {
    margin: 20px auto;
}

.login-widjet .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.login-widjet .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.login-widjet .info span a {
    color: #000000;
    text-decoration: none;
}

.login-widjet .info span .fa {
    color: #EF3B3A;
} */

section.content {
    margin: 50px 15px 0 315px;
}

.db_header {
    background: #fff;
    padding: 20px;
}

.db_header .db_title {
    color: #666 !important;
    font-weight: normal;
    font-size: 25px;
    margin: 0;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
    background-color: #fed032 !important;
    color: #808080;
}
.btn-warning2,
.btn-warning2:hover,
.btn-warning2:active,
.btn-warning2:focus {
    background-color: #808080 !important;
    color: #fed032;
}
.login-page .login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #fed032 !important;
}

.theme-amber .navbar {
    background-color: #fed032;
}

.sidebar .user-info {
    background: #808080;
    color: #fed032
}

.navbar-header {
    width: 300px;
    text-align: center;
}
.navbar-brand > img {
    margin-right: 8px;
}
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "youregone";
    text-shadow: 1px 1px 1px #000;
}

.main_nav li.active {
    background: #808080
}

.main_nav li a {
    padding: 25px 40px;
    margin: 0;
}

.draggable {
    width: 25px;
    height: 32px;
    padding: 2px 3px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    background-image: url(../images/marker.png);
    color: black;
    position: relative;
    background-size: cover;
    background-position: top;
    cursor: grab;
    display: inline-block;
    left: 0;
    top: 0;
}



/* .draggable:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background: orange;
        bottom: 0;
        top: 83%;
        left: 30%;
    } */

.ui-widget-header {
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.ui-widget-header p,
.ui-widget-content p {
    margin: 0;
}

#snaptarget {
    width: 100%;
    /* height: 500px;
        border: 3px dashed black; */
}

.drag_list li {
    border-bottom: 8px;
}

.item_selection {
    display: inline-block;
}

.drawing-id {
    border: 3px dashed black;
    border-bottom: 0;
    padding: 5px 15px;
}

.image-block {
    background: #eee;
    margin-top: 15px;
    position: relative;
}

.value-box {
    margin-top: 15px;
    border: 2px solid #eee;
    padding: 10px;
}

.no-padding {
    padding: 0;
}

.clearfix {
    clear: both;
}

.draggable-bb {
    position: absolute;
}

.drawing-id {
    position: absolute;
    top: 0;
    right: 0;
}
.no-margin{
    margin: 0;
}