@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular2.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'JennaSue';
    src: url('../fonts/JennaSue.woff');
    src: local('JennaSue'), local('JennaSue'), url('../fonts/JennaSue.woff') format('WOFF');
}

body {
    font-family: "Montserrat";
}

.login_bg {

    background-image: url(../images/mi-factory.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
/*     min-height: 100vh; */
}





/* 
.home_page_view {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100vh;
    background-image: url(../images/mi-factory.jpg);
    display: block;
    background-position: center;
    background-size: cover;
}
.home_radial_gradiant {
    background: red;
    background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    background: -o-radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 1));
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-angle-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, #fed032 20%, transparent 20%) repeat scroll 0 0;
}

.header-angle-bg2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, 0) linear-gradient(to left top, #fed032 20%, transparent 20%) repeat scroll 0 0;
}

.home_page_heading {
    background: linear-gradient(to left, #d78803, #fed032);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fed032;
    font-size: 90px;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
}

.home_btn {
    padding: 20px 45px;
    border-radius: 50px!important;
    font-size: 18px!important;
    margin-bottom: 8px;
    background: linear-gradient(to left, #d78803, #fed032);
    text-shadow: 1px 1px 1px #000;
    Standard syntax
}

.home_link {
    color: #fff;
}

.no-margin {
    margin: 0;
}





Form

.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 450px;
    margin: 0 auto 0;
    padding: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

.login-form .thumbnail {
    background: #fed032;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}

.login-form .thumbnail img {
    display: block;
    width: 100%;
}

.login-form input,
.login-form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form .btn-login {
    outline: 0;
    background: #fed032;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    display: inherit;
    text-decoration: none;
}

.login-form .btn-login:hover,
.login-form .btn-login:focus {
    background: transparent;
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
}

.login-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.login-form .message a {
    color: #808080;
    text-decoration: none;
}

.login-form .register-form {
    display: none;
    padding: 20px;
}

.login-widjet {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.login-widjet:before,
.login-widjet:after {
    content: "";
    display: block;
    clear: both;
}

.login-widjet .info {
    margin: 20px auto;
}

.login-widjet .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.login-widjet .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.login-widjet .info span a {
    color: #000000;
    text-decoration: none;
}

.login-widjet .info span .fa {
    color: #EF3B3A;
} */

section.content {
    margin: 50px 15px 0 315px;
}

.db_header {
    background: #fff;
    padding: 20px;
}

.db_header .db_title {
    color: #666 !important;
    font-weight: normal;
    font-size: 25px;
}